 

<content>
    
<div ng-controller="CarouselDemoCtrl" style="margin-top:50px;">
  <div>
    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" class="img-carousel-a">  
      </uib-slide>
    </uib-carousel>
</div>   
    <!--/#main-slider-->

    <!--Body-->
    <div style="background:white; color#666; width:100%; padding-bottom: 150px;">

        <div class="rowhome1 textHome wow fadeInDown">
            <p style="text-align: center; "> <img src="images/logo2.png" /></p>
            <div class="dividerHome  wow fadeInDown"></div>
            <p style="line-height: 1.5em;">Somos un taller de arquitectura y diseño, donde transformamos ideas en productos arquitectónicos tangibles, desarrollados
                bajo un proceso detallado de estuido.</p>
        </div>

        <div>
            <div class="rowhome textHome wow fadeInDown">
                <div class="columnhome">
                    <p style="text-align: center ">Construcción </p>
                    <div class="dividerHome  wow fadeInDown"></div>
                    <p style="line-height: 1.5em ">Somos un equipo multidisciplinario, capaz de ofrecerle al cliente la opción de vivir el proyecto. Contamos
                        con un equipo de profesionales especializados en la construcción, supervisión, y coordinación de
                        la obra.</p>
                </div>

                <div class="columnhome wow fadeInDown">
                    <p style="text-align: center ">Diseño</p>
                    <div class="dividerHome  wow fadeInDown"></div>
                    <p style="line-height: 1.5em ">El diseño es de suma importancia en todos nuestros proyectos, sobre todo el arquitectónico, sin embargo
                        nos gusta involucrarnos por completo en los proyectos diseñando el mobiliario y los accesorios necesarios
                        para lograr los resultados que buscamos.</p>
                </div>

                <div class="columnhome wow fadeInDown">
                    <p style="text-align: center "> Arquitectura</p>
                    <div class="dividerHome  wow fadeInDown"></div>
                    <p style="line-height: 1.5em ">Se evalúan las necesidades de los clientes para lograr propuestas funcionales e innovadoras capaces de
                        trascender. Buscando siempre la sencillez y la claridad del proyecto.</p>
                </div>
            </div>
        </div>
    </div>
</content>