<content >
    <div ng-controller="CarouselDemoCtrl" class = "homeSliderMarginstyle">
        <div>
            <uib-carousel hide-indicators="true" active="active" interval="myInterval" no-wrap="noWrapSlides">
                <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.image}}" class="img-carousel-a">
                </uib-slide>
            </uib-carousel>
        </div>
        <!--/#main-slider-->

        <!--Body-->
        <div class = "homeBodyStyle">
            <div class="rowhome1 textHome columnHW">
                <p class = "homeParagraphTitle"> <img src="images/logo2.png" /></p>
                <div class="dividerHome"></div>
                <p class = "homeParagraphBody">Somos un taller de arquitectura y diseño, donde transformamos ideas en productos arquitectónicos tangibles,
                    desarrollados bajo un proceso detallado de estudio.</p>
            </div>

          
                <div class="columnhome columnHW textHome" >
                    <p class = "homeParagraphTitle" > Arquitectura</p>
                    <div class="dividerHome"></div>
                    <p class = "homeParagraphBody">Se evalúan las necesidades de los clientes para lograr propuestas funcionales e innovadoras capaces de
                        trascender. Buscando siempre la sencillez y la claridad del proyecto.</p>
                </div>

                <div class="columnhome columnHW textHome" >
                    <p class = "homeParagraphTitle" >Diseño</p>
                    <div class="dividerHome"></div>
                    <p class = "homeParagraphBody">El diseño es de suma importancia en todos nuestros proyectos, sobre todo el arquitectónico, sin embargo
                        nos gusta involucrarnos por completo en los proyectos diseñando el mobiliario y los accesorios necesarios
                        para lograr los resultados que buscamos.</p>
                </div>

                <div class=" columnhome columnHW textHome">                  
                        <p class = "homeParagraphTitle" >Construcción </p>
                        <div class="dividerHome"></div>
                        <p class = "homeParagraphBody">Somos un equipo multidisciplinario, capaz de ofrecerle al cliente la opción de vivir el proyecto.
                            Contamos con un equipo de profesionales especializados en la construcción, supervisión, y coordinación
                            de obra.</p>
                    </div>
        </div>
</content>