<section id="recent-works">
    <div class="container" style=" padding-bottom: 150px;">
        <div class="center wow fadeInDown">
           
        </div>
        <div class="row" style="margin-bottom:30px ">
         
            <div class="col-xs-6">
                <div class="recent-work-wrap">
                    <a href="home#!/projects/1001">
                        <img class="img-responsive" src="images/portfolio/recent/item1.jpg" alt="">
                    </a>
                </div>

            </div>

            <div class="col-xs-6" >
                <div class="recent-work-wrap">
                    <a href="home#!/projects/1002">
                        <img class="img-responsive" src="images/portfolio/recent/item2.jpg" alt="">
                    </a>
                </div>
            </div>
   </div>
      <div class="row" style="margin-bottom:30px ">
            <div class=" col-xs-6">
                <div class="recent-work-wrap">
                    <a href="home#!/projects/1003">
                        <img class="img-responsive" src="images/portfolio/recent/item3.jpg" alt="">
                    </a>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="recent-work-wrap">
                    <a href="home#!/projects/1004">
                        <img class="img-responsive" src="images/portfolio/recent/item4.jpg" alt="">
                    </a>
                </div>
            </div>
 </div>
  <div class="row" style="margin-bottom:30px">
            <div class="col-xs-6">
                <div class="recent-work-wrap">
                    <a href="home#!/projects/1005">
                        <img class="img-responsive" src="images/portfolio/recent/item5.jpg" alt="">
                    </a>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="recent-work-wrap">
                    <a href="home#!/projects/1006">
                        <img class="img-responsive" src="images/portfolio/recent/item6.jpg" alt="">
                    </a>
                </div>
            </div>
 </div>
  <div class="row" style="margin-bottom:30px ">
            <div class="col-xs-6">
                <div class="recent-work-wrap">
                    <a href="home#!/projects/1007">
                        <img class="img-responsive" src="images/portfolio/recent/item7.jpg" alt="">
                    </a>
                </div>
            </div>

            <div class="col-xs-6 ">
                <div class="recent-work-wrap">
                    <a href="home#!/projects/1008">
                        <img class="img-responsive" src="images/portfolio/recent/item8.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<!--/#recent-works-->