

<!-- Footer -->
<footer id="footer" class="midnight-blue" >
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; Taller 8cho. All rights reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/proyectos">Proyectos</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->

</div>
<!--/#Wrapper-->


<script type="text/javascript" src="../lib/angular/angular.js"></script>
<script type="text/javascript" src="../lib/angular-route/angular-route.js"></script>
<script type="text/javascript" src="../application.js"></script>

<script type="text/javascript" src="../example/example.client.module.js"></script>
<script type="text/javascript" src="../example/controllers/example.client.controller.js"></script>
<script type="text/javascript" src="../example/config/example.client.routes.js"></script> 



<script type="text/javascript" src="../projects/projects.client.module.js"></script>         
<script type="text/javascript" src="../projects/services/id.client.service.js"></script>     


</body>

<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/wow.min.js"></script>

</html>