

<!-- Footer -->
<footer id="footer" class="midnight-blue" >
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; Taller 8cho. All rights reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/proyectos">Proyectos</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->

</div>
<!--/#Wrapper-->
</body>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/main.js"></script>
<script src="js/wow.min.js"></script>

</html>