<footer  id="footer" class="midnight-blue">
<!-- Footer -->

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; Taller 8cho. All rights reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="/#!/">Home</a></li>
                    <li><a href="/#!/projects">Proyectos</a></li>
                    <li><a href="/#!/contact">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->