<header id="header">
    <nav class="navbar navbar-inverse" role="banner">
        <div class="container" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a  style="padding:0 0 20px 0" class="navbar-brand" href="/#!/"><img src="images/logo.png " alt="logo"></a>
            </div>
            <div  ng-controller="ExampleController"  class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li ng-class="{active:isActive('/')}"> <a href="/#!/">Home</a></li>
                    <li ng-class="{active:isActive('/projects')}"> <a  href="/#!/projects">Proyectos</a></li>
                    <li ng-class="{active:isActive('/contact' )}"> <a href="/#!/contact">Contacto</a></li>
                </ul>
                <div style=" float:right; margin-left: 150px;">
                    <ul class="social-share">
                        <li><a href="https://www.facebook.com/t8cho"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/t8cho"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/t8cho/"><i class="fa fa-instagram"></i></a></li>                       
                    </ul>
                </div>
            </div>
        </div>
        <!--/.container-->
    </nav>
    <!--/nav-->
</header>
<!--/header-->