

<% include partials/header.ejs%>
    
    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                 <h1 class="section-heading">Thank you <%= name%> </h1>
                 <p class="lead section-lead">Your message has been successfully sent</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    
<% include partials/footer.ejs%>