<% include partials/header.ejs%>

    <section id="main-slider" class="no-margin">
        <div class="carousel slide" style="margin-top:5px">
            <div class="carousel-inner" data-ride="carousel" data-interval="5000" data-pause="false">

                <div class="item active" style="background-image: url(images/slider/slide1.png)"></div>
                <div class="item" style="background-image: url(images/slider/slide2.png)"></div>
                <div class="item" style="background-image: url(images/slider/slide3.png)"></div>
                <div class="item" style="background-image: url(images/slider/slide4.png)"></div>
                <div class="item" style="background-image: url(images/slider/slide5.png)"></div>

            </div>
            <!--/.carousel-inner-->
        </div>
        <!--/.carousel-->

        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section>
    <!--/#main-slider-->

    <!--Body-->
    <div style="background:white; color#666; width:100%;">

        <div class="rowhome1 textHome">
            <p style="text-align: center; "> <img src="images/logo2.png" /></p>
            <div class="dividerHome"></div>
            <p style="line-height: 1.5em ">Somos un taller de arquitectura y diseño, donde transformamos ideas en productos arquitectónicos tangibles, desarrollados
                bajo un proceso detallado de estuido.</p>
        </div>

        <div>
            <div class="rowhome textHome">
                <div class="columnhome">
                    <p style="text-align: center ">Construcción</p>
                    <div class="dividerHome"></div>
                    <p style="line-height: 1.5em ">Somos un equipo multidisciplinario, capaz de ofrecerle al cliente la opción de vivir el proyecto. Contamos
                        con un equipo de profesionales especializados en la construcción, supervisión, y coordinación de
                        la obra.</p>

                </div>

                <div class="columnhome">
                    <p style="text-align: center ">Diseño</p>
                    <div class="dividerHome"></div>
                    <p style="line-height: 1.5em ">El diseño es de suma importancia en todos nuestros proyectos, sobre todo el arquitectónico, sin embargo
                        nos gusta involucrarnos por completo en los proyectos diseñando el mobiliario y los accesorios necesarios
                        para lograr los resultados que buscamos.</p>
                </div>

                <div class="columnhome">
                    <p style="text-align: center "> Arquitectura</p>
                    <div class="dividerHome"></div>
                    <p style="line-height: 1.5em ">Se evalúan las necesidades de los clientes para lograr propuestas funcionales e innovadoras capaces de
                        trascender. Buscando siempre la sencillez y la claridad del proyecto.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row "></div>

    <% include partials/footer.ejs%>


