<% include partials/header.ejs%>

    <!-- about 1 -->
    <div style="background:#404041; color:ghostwhite;" id="about" class="about">
        <div class="row">
            <div class="col-sm-7 wowload fadeInLeft">
                <div id="carousel-about" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active"><img src="images/slider/bg1.jpg" class="img-responsive"></div>
                        <div class="item"><img src="images/slider/bg2.jpg" class="img-responsive"></div>
                        <div class="item"><img src="images/slider/bg3.jpg" class="img-responsive"></div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-about" role="button" data-slide="prev"><i class="fa fa-3x fa-angle-left"></i></a>
                    <a class="right carousel-control" href="#carousel-about" role="button" data-slide="next"><i class="fa fa-3x fa-angle-right"></i></a>
                </div>
            </div>
            <div style="padding:3% 7% 1% 7%;text-align: justify;font-size:15px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif;" class="col-sm-5 wowload fadeInRight">

                <div class="spacer">
                    <p style="color:ghostwhite;font-size:19px;text-align: center;"> Taller 8cho</p>
                    <div style="height:1px;background: white; width:100%;margin:auto"></div>
                    <p style="line-height: 1.2em">Somos un taller de arquitectura y diseño, donde transformamos ideas en productos arquitectónicos tangibles,
                        desarrollados bajo un proceso detallado de estuido.</p>
                    <div style="padding-top:35px"></div>
                    <p style="color:ghostwhite;font-size:19px;text-align: center "> Arquitectura</p>
                    <div style="height:1px;background: white; width:100%;margin:auto"></div>
                    <p style="line-height: 1.2em">Se evalúan las necesidades de los clientes para lograr propuestas funcionales e innovadoras capaces de
                        trascender. Buscando siempre la sencillez y la claridad del proyecto.</p>
                </div>
            </div>
        </div>
    </div>





    <!-- about 2 -->
    <div style=" background:ghostwhite; color:black;" id="works" class="works">
        <div class="row">

            <div style=" padding:3% 7% 1% 7%;text-align: justify;font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; font-weight: 100;"" class="col-sm-5 wowload fadeInRight">

              
                    <p style="color:#000;font-size:19px; text-align: center ">Diseño</p>
                    <div style="height:1px;background: #000; width:100%;margin:auto"></div>
                    <p style="line-height: 1.2em">El diseño es de suma importancia en todos nuestros proyectos, sobre todo el arquitectónico, sin embargo
                        nos gusta involucrarnos por completo en los proyectos diseñando el mobiliario y los accesorios necesarios
                        para lograr los resultados que buscamos.</p>
                    <div style="padding-top:35px"></div>
                    <p style="color:#000;font-size:19px; text-align: center ">Construcción</p>
                    <div style="height:1px;background:#000; width:100%;margin:auto"></div>
                    <p style="line-height: 1.2em">Somos un equipo multidisciplinario, capaz de ofrecerle al cliente la opción de vivir el proyecto. Contamos
                        con un equipo de profesionales especializados en la construcción, supervisión, y coordinación de
                        la obra.</p>
                
            </div>

            <div class="col-sm-7 wowload fadeInRight">
                <div id="carousel-works" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active"><img src="images/slider/bg3.jpg" class="img-responsive"></div>
                        <div class="item"><img src="images/slider/bg2.jpg" class="img-responsive"></div>
                        <div class="item"><img src="images/slider/bg1.jpg" class="img-responsive"></div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-works" role="button" data-slide="prev"><i class="fa fa-3x fa-angle-left"></i></a>
                    <a class="right carousel-control" href="#carousel-works" role="button" data-slide="next"><i class="fa fa-3x fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
   



    <% include partials/footer.ejs%>