<% include partials/header.ejs%>


    <section id="recent-works">
        <div class="container" style=" padding-bottom: 150px;">
            <div class="center wow fadeInDown">
                <h2>Proyectos</h2>
            </div>
            <div class="row" style="margin-bottom:60px ">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <a href="/proyectos/1001">
                            <img class="img-responsive" src="images/portfolio/recent/item1.png" alt="">
                        </a>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <a href="/proyectos/1002">
                            <img class="img-responsive" src="images/portfolio/recent/item2.png" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <a href="/proyectos/1003">
                            <img class="img-responsive" src="images/portfolio/recent/item3.png" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <a href="/proyectos/1004">
                            <img class="img-responsive" src="images/portfolio/recent/item4.png" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <a href="/proyectos/1005">
                            <img class="img-responsive" src="images/portfolio/recent/item5.png" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <a href="/proyectos/1006">
                            <img class="img-responsive" src="images/portfolio/recent/item6.png" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <a href="/proyectos/1007">
                            <img class="img-responsive" src="images/portfolio/recent/item7.png" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <a href="/proyectos/1008">
                            <img class="img-responsive" src="images/portfolio/recent/item8.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <!--/#recent-works-->



    <% include partials/footer.ejs%>